<h1>All Pictures</h1>

<% @all_pictures.each do |pic| %>
 <a href="http://localhost:3000/picture_details/<%= pic.id %>">
  <img width="200" src="<%= pic.source %>"> </a>
  <p><%= pic.caption %></p>
<% end %>
